### IntelliJ IDEA ###
.idea
.kotlin
.fleet
.gradle
*.iws
*.iml
*.ipr

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
**/.gradle/
**/build/
**/logs/
**/out/
**/generated
node_modules
data
package-lock.json
docs/.vitepress/cache/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
